/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray: #888888;
  --basic-light-gray: #f2f2f2;
  --basic-blue: #81B3D2;
  --basic-dark-blue: #669EC0;
  --basic-neutral: #e5e5e5;
  --basic-extra-light: #f8f5f2;
  --basic-brown: #766357;
  --basic-dark-brown: #604E43;
  --hover-light-gray: #EBEBEB;

  --triangle-gray: #cacaca;
  --toggle-gray: #ababab;
  --special-gray: #eeeeee;
  --special-brown: #503E33;
  --special-blue: #5496BD;

}

/* Global */


.page {
  height: 100%;
}

body {
  width: 1200px;
  /* min-width: 960px; */
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-light-gray);
  /* min-height: 100%; */

  position: relative;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
  color: var(--basic-black)
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-family: "PT Sans Narrow", Arial, sans-serif;
}

section {
  padding: 0;
  margin: 0;
}

.align-right {
  text-align: right;
}

.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* User navigation */

.main-header {
  width: 1200px;
  /* display: grid; */
  margin: 0 auto;
  position: relative;
}

.main-navigation {
  height: 56px;
  font-size: 14px;
  line-height: 26px;
  background-color: var(--basic-white);
  height: 0 auto;
  padding-left: 73px;
  padding-right: 73px;

  display: grid;
}

.main-header-logo {
  position: absolute;
  left: 531px;
}

.site-navigation {
  margin: 0;
  padding: 0;
  order: 1;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.site-navigation {
  align-content: center;
}


.site-navigation a{
  font-weight: 700;
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation-current a {
  color: var(--basic-brown);
}



/* Banner */

.main-banner {
  text-align: center;
  background-color: var(--basic-white);
}

.banner-img {
  width: 1200px;
  height: 509px;
  background-image: url(..//img/bg-photo.jpg);
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
}

.main-info {
  position: relative;
  height: 216px;
  padding-top: 43px;
  padding-left: 340px;
  padding-right: 340px;
}

.main-info img {
  position: absolute;
  top: -57px;
  left: 0px;
}

.main-info p {
  line-height: 26px;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 14px;
}

.town-description {
  display: block;
  font-size: 21px;
  font-weight: 700;
}

/* Features */

.features {
  background-color: var(--special-gray);
  display: grid;
  
}

.features-list {
  max-width: 1200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: var(--special-gray);
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.features-item {
  min-height: 256px;
  text-align: center;
  line-height:  21px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features-item h3 {
  max-width: 120px;
}

.features-item p {
  max-width: 260px;
}

.wide-item {
  grid-column: 1 / -1;
}

.blue-item {
  min-height: 256px;
  color:var(--basic-white);
  background-color: var(--basic-blue);

  display: grid;
  grid-template-columns: min-content min-content;
}

.blue-text {
  min-width: 400px;
  background-color: var(--basic-blue);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue-text h3 {
  max-width: 150px;
}

.blue-text p {
  max-width: 302px;
}

.blue-item-image {
  min-width: 800px;
}

.features-item h3 {
  font-size: 21px;
}

.features-item p {
  font-size: 14px;
}

.interesting-features {
  color: var(--basic-black);
  background-color: var(--basic-white);
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 330px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.interesting-item {
  line-height: 21px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interesting-item h4 {
  font-size: 21px;
}

.house-link h3 {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.house-link h3:hover {
  color: var(--basic-blue);
}

.house-link h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.book {
  padding-top: 58px;
  background-color: var(--basic-white);
  text-align: center;
  line-height: 24px;
}

.book h2 {
  font-size: 30px;
  font-weight: 700;
}

.book a {
  font-size: 21px;
  font-weight: 700;
  color:var(--basic-white);
  background-color: var(--basic-brown);
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-info p {
  width: 568px;
}

.book-link {
  display: block;
  padding:  30px 125px 30px 124px;
}

.modal {
  line-height: 26px;
  font-size: 14px;
  font-weight: 700;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-white);
}

.modal-input {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  border: none;
  background-color: var(--basic-light-gray);

}

.modal-input:hover {
  background-color: var(--hover-light-gray);
}

.modal-input:focus {
  border: 2px solid var(--hover-light-gray);
  background-color: var(--basic-white);
  /* box-sizing: border-box; */
}

.modal-button {
  font-size: 21px;
  line-height: 26px;
}

.button {
  padding:3px 17px ;
  text-transform: uppercase;
  border: none;
}

/*Inner page*/

.filters {
  color: var(--basic-white);
  background-color: var(--basic-white);
  background-image: url(../img/bg-catalog.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 217px;
}

.filters-form {
  height: 217px;
  padding-left: 73px;
  padding-right: 73px;
  display: flex;
  flex-direction: row;
}

.filters-form fieldset {
  border: none;
}

.filter {
  margin: 30px 0px;
  padding: 0;
}

.filter-format-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.filter-format-item {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 23px;
}

.filter-format-legend {
  font-size: 16px;
  font-weight: 700;
  margin-right: 119px ;
  margin-bottom: 25px;
  padding: 0;
}

.filter-format-item label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-left: 39px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/checkbox-off.svg);
  width: 23px;
  height: 23px;
  left: -39px;
  top: -4px;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/checkbox-on.svg);
  width: 27px;
  height: 23px;
  left: -39px;
  top: -4px;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/checkbox-on.svg);
  width: 27px;
  height: 23px;
  left: -39px;
  top: -4px;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  background-image: url(../img/icons/checkbox-on.svg);
  width: 27px;
  height: 23px;
  left: -39px;
  top: -4px;

  opacity: 0.3;
}

/*Price Filter */

.filters-form > div {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  margin-bottom: 11px;
  padding: 0;
}

.price-filter-container {
  display: flex;
  flex-direction: column;

  max-width: 317px;
  margin: 30px 0px;
  padding: 0;
}

.price-filter {
  width: 320px;

  margin: 0;
  padding: 0;
}

.price-filter legend {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 11px;
}

.price-controls {
  position: relative;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  margin-bottom: 20px;

  max-width: 100%;
  display: flex;
  align-items: center;
}

.price-controls input {
  border: none;
  background-color: transparent;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;

  max-width: 158px;
  margin-bottom: 23px;
  height: 36px;
  margin: 0 auto;
  padding: 0;
}

.price-controls input:focus {
  outline: none;
}


.price-controls input::placeholder {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  line-height: 21px;
  font-size: 14px;
  color: var(--basic-white);
}

.short-border {
  background: var(--basic-white);
  width: 2px;
  height: 22px;

  position: absolute;
  left: 158px;
}

.range-controls {
  position: relative;
  margin-left: 10px;
  margin-bottom: 23px;
}

.range-controls .scale {
  width: 316px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-gray);
  border-radius: 50%;
  box-shadow: 0 2px 0 rgba(171, 171, 171, 0.3);
  cursor: pointer;
  /* opacity: 0.2; */

  position: absolute;

  top: -9px;
  left: 0px;
}

.range-controls .toggle-min:hover {
  border: 10px solid var(--basic-white);
  top: -11px;
  left: -12px;
}

.range-controls .toggle-min {
  left: -10px;
}

.range-controls .toggle-max {
  left: 259px;
}

.range-controls .toggle-max:hover {
  border: 10px solid var(--basic-white);
  top: -11px;
  left: 257px;
}

.price-filter-container > button {
  cursor: pointer;
}

/* Results */

.results {
  padding-bottom: 120px;
  background-color: var(--basic-white);
}

/* Cound-and-sort */

.count-and-sort {
  background-color: var(--basic-white);
  height: 86px;
  padding-left: 73px;
  padding-right: 73px;
  border-bottom: 1px solid var(--basic-neutral);

  display: grid;
  grid-template-columns: 164px 1fr;
  align-items: center;
}

.count-and-sort h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.form-for-sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  /* padding-left: 47px; */
}

.form-for-sort div {
  display: flex;
  /* align-items: center; */
}

.form-filter {
  list-style: none;
  display: flex;
}

.left-filter li{
  margin-right: 32px;
}

.right-filter {
  justify-content: flex-end;
  flex-grow: 1;

  position: relative;
  align-items: center;
}

.right-filter li {
  margin-left: 12px;
}

.right-filter li:first-child {
  margin-left: 0px;
}

.flip-horizontal svg {
  transform:rotate(180deg);
}

.filter-arrow path{
  fill: var(--triangle-gray);
}

.filter-arrow:hover path {
  fill: var(--basic-black);
}

.filter-arrow:active path {
  fill: var(--basic-blue);
}

.selected-filter-arrow path {
  fill: var(--basic-blue);
}

.sort-item {
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dashed var(--basic-blue);
}

.sort-item:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.sort-item:active {
  color: var(--basic-black);
  opacity: 1;
  border-bottom: none;
}

.sort-item:focus {
  border-bottom: none;
  color: var(--basic-blue);
  opacity: 1;
}

/*Places*/

.housing-options-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.housing-options-item {
  padding: 30px 73px;
  border-bottom: 1px solid var(--basic-neutral);
  
  max-height: 152px;
  display: grid;
  grid-template-columns: 135px 1fr 127px;
}

.short-info {
  padding-left: 29px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.housing-options-item h3 {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.housing-options-item p {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}


.rate-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rate-list {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.rate-list li {
  width: 19px;
  height: 17px;
  background-image: url('../img/icons/star.svg');
}

.rate-text {
  height: 27px;
  background-color: var(--basic-light-gray);
  font-size: 14px;
  line-height: 21px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center
}

/* Footer */

.main-footer {
  width: 100%;
  height: 120px;
  margin: 0;
  line-height: 26px;
  background-color: rgba(255, 255, 255, 0.9);

  position: absolute;
  bottom: 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-contacts {
  font-size: 21px;
  font-weight: 700;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contacts p {
  margin: 0;
  padding-bottom: 9px;
}

.footer-social {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.social-list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-button a{
  margin-left: 3px;
  margin-right: 3px;
  display: block;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-button a:hover {
  background-color: var(--basic-dark-blue);
}

.social-button a:active {
  background-color: var(--basic-dark-blue);
}

.social-button:active path {
  opacity: 0.3;
}

.footer-copyright {
  justify-self: center;
  display: flex;
}

.footer-copyright p {
  margin: 0;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.footer-copyright svg {
  margin-left: 15px;
}

.html-academy-logo:hover path {
  fill: var(--basic-blue);
}

.html-academy-logo:active path {
  fill: #BDBBBC;
}

/* Buttons */

.brown-button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
  color:var(--basic-white);
  background-color: var(--basic-brown);
}

.brown-button:hover {
  background-color: var(--basic-dark-brown);
}

.brown-button:active {
  background-color: var(--special-brown);
  color: rgba(255, 255, 255, 0.3)
}

.blue-button {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.blue-button:hover {
  background-color: var(--basic-dark-blue);
}

.blue-button:active {
  background-color: var(--special-blue);
  color: rgba(255, 255, 255, 0.3)
}

.transparent-button {
  align-self: center;

  font-size: 14px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  width: 137px;
  height: 36px;
}

.transparent-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);

  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  width: 137px;
  height: 36px;
}